In [10]:
import pandas as pd

df_poblacion = pd.read_csv('preparacion de datos\indicadores_municipios_cpv-2012_cod.csv', delimiter=',')
df_poblacion

,cod.mun,departamento_y_municipio,t_2001,h_01,m_01,t_2012,h_12,m_12,tmn_2001_2012(%),tac_ 2001_2012(%),...,sup_(ni>19),ins_(ni>19),otro_(ni>19),t_aest,h_aest,m_aest,est_sal_ultpar,dom_ultpar,otro_ultpar,sinesp_ultpar
0,10101,Sucre,214913,102930,111983,261201,124667,136534,0.239067,1.739830,...,39.628860,2.055883,0.673279,10.487524,11.032767,"10,0","83,0","15,4","1,5","0,0"
1,10102,Yotala,9497,4663,4834,9461,4704,4757,-1.771236,-0.033876,...,15.021771,1.142961,0.362845,6.503652,7.364362,"5,7","67,3","31,3","1,3","0,0"
2,10103,Poroma,16966,8479,8487,17377,8714,8663,-6.806035,0.213501,...,3.314736,0.295372,0.076578,3.738844,4.263054,"3,2","27,7","69,5","2,8","0,1"
3,10201,Azurduy,11349,5573,5776,10652,5414,5238,-12.813853,-0.565342,...,8.458821,0.427589,0.148727,4.346958,5.017151,"3,7","34,9","63,5","1,6","0,0"
4,10202,Tarvita,15791,7869,7922,14261,7237,7024,-6.256039,-0.909011,...,7.176373,0.469224,0.082804,3.950236,4.707093,"3,2","41,6","56,7","1,6","0,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,90401,Santa Rosa,2097,1243,854,2395,1442,953,41.239316,1.185196,...,9.659541,0.712589,0.633413,7.750000,7.993835,"7,3","76,6","23,0","0,5","0,0"
335,90402,Ingavi,899,547,352,1654,953,701,25.075758,5.438002,...,5.365854,0.609756,0.000000,7.584559,8.001942,"6,9","65,0","34,0","1,0","0,0"
336,90501,Nueva Esperanza,740,465,275,2068,1279,789,49.414520,9.166557,...,6.114240,1.045857,0.241352,7.959514,8.214896,"7,5","73,3","25,3","1,3","0,0"
337,90502,Villa Nueva - Loma Alta,993,558,435,2801,1512,1289,19.575574,9.249635,...,6.099398,0.903614,0.225904,7.444444,7.769831,"7,0","62,7","35,1","2,3","0,0"
338,90503,Santos Mercado,509,351,158,2165,1300,865,35.824176,12.913150,...,5.622837,0.865052,0.173010,7.554301,7.966975,"6,8","69,9","29,1","1,1","0,0"

In [13]:
import pandas as pd
import numpy as np

# Supongamos que tu DataFrame se llama 'df_poblacion'
# Asegúrate de que las columnas tengan los tipos de datos adecuados
df_poblacion['t_2001'] = df_poblacion['t_2001'].astype(int)
df_poblacion['t_2012'] = df_poblacion['t_2012'].astype(int)
df_poblacion['tac_ 2001_2012(%)'] = df_poblacion['tac_ 2001_2012(%)'].astype(float)

# Define los años para los que deseas hacer la proyección (2013 a 2030)
years_proyeccion = range(2013, 2031)

# Crea un DataFrame para almacenar la proyección de población
proyeccion_poblacion_df = pd.DataFrame()

# Itera por cada municipio y realiza la proyección
for index, row in df_poblacion.iterrows():
    poblacion_inicial = row['t_2012']
    tasa_crecimiento = row['tac_ 2001_2012(%)'] / 100
    
    # Realiza la proyección utilizando la fórmula del crecimiento exponencial
    proyeccion_poblacion = poblacion_inicial * (1 + tasa_crecimiento)**(np.array(years_proyeccion) - 2012)
    
    # Crea un DataFrame temporal para almacenar la proyección
    proyeccion_municipio_df = pd.DataFrame({
        'cod.mun': [row['cod.mun']] * len(years_proyeccion),
        'Año': years_proyeccion,
        'Poblacion Proyectada': proyeccion_poblacion.round().astype(int)
    })
    
    # Concatena el DataFrame temporal al DataFrame de proyección general
    proyeccion_poblacion_df = pd.concat([proyeccion_poblacion_df, proyeccion_municipio_df])

# Muestra o guarda el DataFrame de proyección de población
proyeccion_poblacion_df
# proyeccion_poblacion_df.to_csv('proyeccion_poblacion_municipios.csv', index=False)  # Si deseas guardar en un archivo CSV

    cod.mun   Año  Poblacion Proyectada
0     10101  2013                265745
1     10101  2014                270369
2     10101  2015                275073
3     10101  2016                279859
4     10101  2017                284728
..      ...   ...                   ...
13    90503  2026                 11854
14    90503  2027                 13385
15    90503  2028                 15114
16    90503  2029                 17065
17    90503  2030                 19269

[6102 rows x 3 columns]

In [14]:
proyeccion_poblacion_df.to_csv('preparacion de datos\proyeccion_poblacion_municipios.csv', index=False)  # Si deseas guardar en un archivo CSV